# Dependencies
node_modules/


# Environment variables (ห้าม commit เด็ดขาด)
.env
.env.local
.env.*.local

# Prisma generated client
node_modules/.prisma/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp

# TypeScript build info
*.tsbuildinfo
